@font-face {
  font-family: main-font;
  src: url("../Assets/Montserrat-Light.ttf");
}

.login-container,
.sign-up-container {
  width: 100%;
  height: 100%;
  color: white;
}

.login-container .adjacent-input,
.sign-up-container .adjacent-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-container .adjacent-input input,
.sign-up-container .adjacent-input input {
  font-family: main-font;
  border: none;
  background: none;
  border-bottom: 2px solid white;
  font-size: 0.9em;
}

.login-container .adjacent-input ::-webkit-input-placeholder,
.sign-up-container .adjacent-input ::-webkit-input-placeholder {
  color: white;
}

.login-container .adjacent-input :-ms-input-placeholder,
.sign-up-container .adjacent-input :-ms-input-placeholder {
  color: white;
}

.login-container .adjacent-input ::-ms-input-placeholder,
.sign-up-container .adjacent-input ::-ms-input-placeholder {
  color: white;
}

.login-container .adjacent-input ::placeholder,
.sign-up-container .adjacent-input ::placeholder {
  color: white;
}

.login-container .fail-message,
.sign-up-container .fail-message {
  text-align: center;
  color: #ffe260;
}

.login-container .fail-message ul,
.sign-up-container .fail-message ul {
  list-style: none;
}

.login-container .fail-message *,
.sign-up-container .fail-message * {
  margin: 8px;
}

.login-container .buttons-app-nav-position,
.sign-up-container .buttons-app-nav-position {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-container .buttons-app-nav-position .buttons-app-nav,
.sign-up-container .buttons-app-nav-position .buttons-app-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .buttons-app-nav-position .buttons-app-nav button,
.sign-up-container .buttons-app-nav-position .buttons-app-nav button {
  margin: 10px auto;
}

.login-container .buttons-app-nav-position .buttons-app-nav .route-back,
.sign-up-container .buttons-app-nav-position .buttons-app-nav .route-back {
  width: 320px;
  text-align: center;
}

.login-container .buttons-app-nav-position .buttons-app-nav .route-back .login-sign-up-route,
.sign-up-container .buttons-app-nav-position .buttons-app-nav .route-back .login-sign-up-route {
  background: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1em;
  color: #ffe260;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 470px) {
  .adjacent-input {
    height: 30px;
    width: 100%;
    margin: 40px auto;
  }
  .adjacent-input input {
    margin: 0 auto;
    width: 40%;
  }
}

@media (max-width: 470px) {
  .adjacent-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .adjacent-input input {
    width: 80%;
    margin: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=LoginSignUp.css.map */