* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  color: white;
}

input {
  outline: none;
}

button {
  outline: none;
}
