@import "variables.scss";

.App {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    font-family: main-font;
    padding: 30px;
    padding-bottom: 67px;
    font-size: 20px;
}