.authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}
  
  @media (max-width: 350px) {
      h1 {
          font-size: 1.7em;
      }

  }