@import "./variables.scss";

.camera-file-route-result-container {
  position: relative;
  height: 80vh;
  width: 100%;
  margin-top: 20px;
  .camera-file-route-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    .upload-camera {
      margin: 30px;
   
      .take-new-photo {
        border: 1px solid #ccc;
        border-radius: 10px;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin-bottom: 20px;
      }
      .find-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
    }
  }
  .add-new-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    // z-index: 200;
    button {
      margin: 20px;
    }
  }
}
