@import "./variables.scss";

.dashboard-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  .all-section-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .news-tasks-sections-container {
      display: flex;
      .two-news-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        height: 50%;
        flex-grow: 1;
        width: 40vw;
        section {
          .content {
            overflow: auto;
            max-height: 20vh;
          }
        }
      }
      .tasks-section {
        width: 40vw;
        .content {
          max-height: 40vh;
        }
      }
    }
    section {
      text-align: center;
      border: 2px solid $color-green;
      border-radius: 10px;
      margin: 5px;
      flex-grow: 1;
      font-size: 0.9em;
      h2 {
        padding: 10px;
      }
      .content {
        overflow: auto;
      }
    }
  }
}
