@import "./variables.scss";

.dashboard-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .all-section-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .two-section-container {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      height: 50%;
      flex-grow: 1;
      section {
        text-align: center;
        border: 2px solid $color-green;
        border-radius: 10px;
        margin: 10px;
        width: 45vw;
        h2 {
          padding: 5px;
        }
        .content {
          overflow: auto;
          max-height: 40vh;
        }
      }
    }
  }
}
