@import "variables.scss";

.login-container,
.sign-up-container {
  width: 100%;
  height: 100%;
  color: white;
  .adjacent-input {
    display: flex;
    input {
      font-family: main-font;
      border: none;
      background: none;
      border-bottom: 2px solid white;
      font-size: 0.9em;
    }
    ::placeholder {
      color: white;
    }
  }
  .fail-message {
    text-align: center;
    color: $color-yellow;
    ul {
      list-style: none;
    }
  }
  .fail-message * {
    margin: 8px;
  }
  .buttons-app-nav-position {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    .buttons-app-nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        margin: 10px auto;
      }
      .route-back {
        width: 320px;
        text-align: center;
        .login-sign-up-route {
          background: none;
          width: max-content;
          font-size: 1em;
          color: $color-yellow;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 470px) {
  .adjacent-input {
    height: 30px;
    width: 100%;
    margin: 40px auto;
    input {
      margin: 0 auto;
      width: 40%;
    }
  }
}

@media (max-width: 470px) {
  .adjacent-input {
    flex-direction: column;
    align-items: center;
    text-align: center;
    input {
      width: 80%;
      margin: 20px;
      text-align: center;

    }
  }
}
