@import "./variables.scss";

.news-container,
.market-news-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  ol {
    margin: 0;
    padding: 0 5px 0 35px;
    li {
      margin-bottom: 10px;
      color: $color-white;
      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
