.photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-items: center;
    margin: 10px auto;
    justify-content: center;  
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}