.stock-filter-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  align-items: center;
  width: 93%;
  margin: 0 auto;
  text-align: center;
  .result {
    border: 1px solid red;
    width: 100%;
    height: 100%;
  }
}
