@import "variables.scss";

.tasks-container {
  table {
    width: 90%;
    align-items: center;
    margin: 0 auto;
    tbody {
      tr {
        th {
          border-bottom: 1px solid $color-white;
        }
        th,
        td {
          padding: 5px;
          input {
            font-family: main-font;
            font-size: 0.9em;
            border: none;
            color: $color-white;
            border-bottom: 1px solid $color-white;
            width: 100%;
          }
          ::placeholder {
            color: $color-white;
          }
          select, button {
            text-align: center;
            background-color: $color-blue;
            color: $color-black;
            font-weight: bold;
            border-radius: 5px;
            border: none;
            box-shadow: 0 0 5px 0 $color-white;
          }
          select {
            padding: 3.2px;
          }
          button {
            width: max-content;
            padding: 5px;
          }
        }
      }
    }
  }
}
