@import "variables.scss";

.tasks-container {
  table {
    width: 90%;
    align-items: center;
    margin: 0 auto;
    tbody {
      tr {
        th {
          border-bottom: 1px solid black;
        }
        th,
        td {
          padding: 5px;
          input {
            font-family: main-font;
            border: none;
            color: black;
            border-bottom: 1px solid black;
          }
          select {
            text-align: center;
          }
        }
      }
    }
  }
  .tasks-plus-btn {
    width: 80%;
    margin: 0 auto;
  }
}
