@import "./variables.scss";

h1 {
  text-align: center;
  margin: 10px 0 40px 0;
  color: $color-white;
  span {
    color: $color-blue;
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  h1 {
    margin: 10px 0 20px 0;
  }
}

@media (max-height: 415px) and (orientation : landscape) {
  h1 {
    margin: 10px 0 20px 0;
  }
}